extends layout

block content
  h1= title
  - let railway=results;
  div(class="container-fluid mt-3")
   div(class="row m-1")
    each rail in railway
     - let destinations=`buy(\"/railway/update?id=${rail._id}\")`
     div(class="col-sm-6 bg-primary m-1 p-3") Railway #{rail.city} - #{rail.destination} - #{rail.cost}
      button.btn( class="btn-success ml-2", onclick=destinations ) Update
  
   script.
    function buy(path){
        window.location.href=path

        
      }